<form class="form-inline">
  <div class="form-group">
    <!--<input-->
      <!--type="search"-->
      <!--class="form-control"-->
      <!--placeholder="Enter search string"-->
      <!--#search-->
      <!--[(ngModel)]="searchinput"-->
      <!--name="searchinput"-->
    <!--&gt;-->
    <input
      type="search"
      class="form-control"
      placeholder="Enter search string"
      [formControl]="searchField"
    >
    <!--<p>{{searchinput}}</p>-->
    <!--<button class="btn btn-primary" (click)="doSearch(search.value)">Search</button>-->
    <div class="text-center">
      <p class="lead" *ngIf="loading">Loading...</p>
    </div>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let track of results | async">
        <h2>{{track.artist}}</h2>
        <img src="{{track.thumbnail}}">
        <a target="_blank" href="{{track.link}}">
          {{track.name}}
        </a>
      </li>
    </ul>
  </div>
</form>
